.block_1 {
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-color: #98fb98;
}

.block_2 {
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-color: #dcdcdc;
}

.block_3 {
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-color: #ffd700;
}

.block_4 {
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-color: #ff69b4;
}

.block_5 {
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-color: #c1cdc1;
}
